@main("About") {
	<h3>Background</h3>
	<p>The Names Project ran between 2007 and 2013, with the remit of investigating
	ways of uniquely identifying UK researchers. During that time, the project team developed a software prototype including algorithms for disambiguating individuals and institutions within source data sets containing researchers' names and works.</p>
	<p>This was used on a variety of national and institutional data sets, in combination with a manual quality assurance process, to create unique identifiers for 50,000 individuals and
	institutions, and associated name authority records. These are available on this site and the identifiers have also been submitted
	to the <a href="http://www.isni.org">International Standard for Name Identifiers (ISNI) service.</a></p>
	<p>
		All the source code developed by the project is available for download at Bitbucket. This includes the disambiguation service, web front end and documentation.See below for details.
	</p>
	<h3>Documents</h3>
	<p>Project reports and documents are posted on this page as they are completed.</p>
	<h4>Reports and plans</h4>
	<h4>2011</h4>
		<ul>
			<li><a href="@routes.Assets.at("files/Final_Report_Names_Phase_Two_September_2011.pdf")" title="Names Project Final Report (phase two) ">Phase Two Final Report</a>, September 2011 [PDF format, 463 KB]</li>
		</ul>
	<h4>2010</h4>
		<ul>
			<li><a href="@routes.Assets.at("files/Names_stakeholder_feedback_2010.pdf")" title="Names stakeholder feedback ">Feedback from stakeholder community on the JISC Names Project</a>, October 2010 [PDF format, 772 KB]</li>
		</ul>
	<h4>2009</h4>
		<ul>
			<li><a href="@routes.Assets.at("files/Names_project_plan_v4_Aug09.pdf")" title="Names Project Plan, Phase Two ">Phase Two Project Plan</a>, August 2009 [PDF format, 229 KB]</li>
			<li><a href="@routes.Assets.at("files/Names-phase-one-final-report.pdf")" title="Names Project Final Report (phase one) ">Phase One Final Report</a>, July 2009 [PDF format, 42 KB]</li>
		</ul>
		<h4>2008</h4>
		 <ul>
			<li><a href="@routes.Assets.at("files/Names_Software_Requirements_11Jul2008.pdf")" title="Software Requirements Specification">Software Requirements Specification</a>, 11 July 2008 [PDF format, 336 KB]</li>
			<li>Data Analysis and <em>FRAD</em> mappings, 8 April 2008:
				<ul>
					<li><a href="@routes.Assets.at("files/Names_Data_Analysis_Report_7Apr08.pdf")" title="Data Analysis Report">Data Analysis Report</a> [PDF format, 228 KB]</li>
					<li><a href="@routes.Assets.at("files/ISAAR-CPF_mapping.pdf")" title="Mapping of ISAAR-CPF to FRAD entities">ISAAR-CPF mapping</a> [PDF format, 110 KB]</li>
					<li><a href="@routes.Assets.at("files/MARC_21_mapping.pdf")" title="Mapping of MARC21 to FRAD entities">MARC21 mapping</a> [PDF format, 87 KB]</li>
					<li><a href="@routes.Assets.at("files/Scholarly_works_E-prints_ mapping.pdf")" title="Mapping of SWAP to FRAD">Scholarly Works Application Profile mapping</a> [PDF format, 53 KB]</li>
					<li><a href="@routes.Assets.at("files/UKPMC_mapping.pdf")" title="Mapping of UKPMC to FRAD">UKPMC mapping</a> [PDF format, 8 KB]</li>
					
					<li><a href="@routes.Assets.at("files/EAC-CPFtoNames_mapping.pdf")" title="Mapping of EAC-CPF to Names">EAC-CPF mapping</a> [PDF format, 417 KB]</li></ul></li>
					<li><a href="@routes.Assets.at("files/Names_Requirements_Report,_26Feb2008.pdf")" title="Names Project Requirements Report">Requirements Report</a>, 26 February 2008 [PDF format, 170KB]</li>
				</ul>
		</ul>
		<h4>2007</h4>
		<ul>
			<li><a href="@routes.Assets.at("files/Names_project_usage_scenarios_Oct_07.pdf")" title="Usage Scenarios">Usage Scenarios</a>, 30 October 2007 [PDF format, 31KB]</li>
			<li><a href="@routes.Assets.at("files/LandscapeReport26Jun2008.pdf")" title="Landscape Report">Landscape Report</a>, updated 26 June 2008 [PDF format, 112 KB]</li>
			<li><a href="@routes.Assets.at("files/Names_project_plan_v4_Oct07_web.pdf")" title="Names Project Plan">Project Plan</a>, October 2007 [PDF format, 125 KB]</li>
		</ul>
		
		<h4>Dissemination</h4>
		<h4>2012</h4>
		<ul>
			<li><a href="http://www.slideshare.net/amandahill/how-dinosaurs-broke-our-system-challenges-in-building-national-name-identifier">Presentation</a> on the Names Project given at the Open Repositories conference, 11 July 2012.</li>
		</ul>	
		<h4>2009</h4>
		<ul>
			<li>The Names Project developer, Dan Needham is giving progress updates on <a href="http://twitter.com/NamesProject">Twitter</a>.</li>
			<li><a href="@routes.Assets.at("files/Web_Services_Repositories_workshop02Jun09.ppt")" title="Powerpoint slides of presentation">Presentation</a> by Dan Needham on Names project at Web Services and Repositories workshop, 2 June 2009 [PowerPoint slides, 205KB]</li>
		</ul>
		<h4>2008</h4>
		<ul>
			<li><a href="http://www.slideshare.net/JISC.AM/names-project-amanda-hill/" title="Slideshare slides of presentation">Presentation</a> on Names project at <a href="http://www.jisc.ac.uk/whatwedo/themes/access_management/federation/federation_events/programmtgjune08.aspx" title="JISC Federated Access: Future Directions event page">JISC Federated Access: Future Directions Day</a>, 30 June 2008</li>
		</ul>
		<h4>2007</h4>
		<ul>
			<li><a href="@routes.Assets.at("files/Names_ISKO2008_paper.pdf")" title="Names paper for ISKO2008">'What's in a Name? Prototyping a name authority service for UK repositories'</a>, paper for ISKO2008 conference, Montr&eacute;al, August 2008 [PDF format, 165KB]</li>
			<li>The <a href="http://namesproject.wordpress.com/" title="Names Project Blog">Names Project Blog</a> was started on 26 February 2007</li>
			<li><a href="@routes.Assets.at("files/names_project_feedback_from_ukcorr.pdf")" title="Feedback from UKCoRR meeting">Feedback</a> on the project from attendees of the UKCoRR meeting [PDF format, 23KB]</li>
			<li><a href="http://www.slideshare.net/amandahill/introduction-to-the-names-project/" title="Introduction to the Names Project">Names Project</a>, introductory slides presented by Jackie Knowles (Expert Panel member) at the <a href="http://www.ukcorr.org/events/nov2007-event.php" title="UKCoRR meeting details">UKCoRR meeting</a> on 23 November 2007 [via SlideShare]</li>
			<li><a href="http://mimas.ac.uk/focus/07sep/newsletter-p4/#names" title="Focus on Mimas article">'What's in a Name?'</a>, article introducing the project in <em>Focus on Mimas</em>, September 2007</li>
		</ul>
	<h3>Further information</h3>
	<a href="http://namesproject.wordpress.com/">Names project blog</a><br/>
	<a href="http://twitter.com/namesproject">Names project Twitter account</a>
	<h3>Project source and documentation</h3>
	<a href="https://bitbucket.org/dan_at_mimas/names-documentation">Project Documentation</a><br/>
	<a href="https://bitbucket.org/dan_at_mimas/names-disambiguator">Disambiguation package</a><br/>
	<a href="https://bitbucket.org/dan_at_mimas/names-database-manager">Database manager package</a><br/>
	<a href="https://bitbucket.org/dan_at_mimas/names-ui-barebones">Names UI application</a><br/>
	<a href="https://bitbucket.org/dan_at_mimas/names-example-data-handler">Example data handler</a><br/>
	<a href="https://bitbucket.org/dan_at_mimas/names-example-data-handler-two">Example data handler two</a><br/>
	<a href="https://bitbucket.org/dan_at_mimas/names-match-service">Match service</a><br/>
	<h3>API</h3>
	<p>The API for this version of the names web application is described <a href="/api">here</a></p>
	<h3 id="contact">Contact</h3>
	<p>For further information contact <a href="mailto:names.mimas@@manchester.ac.uk">names.mimas@@manchester.ac.uk</p>
}
