@main("API") {
	<h1>Names API</h1>
	<p>The following section describes the Names REST API.</p>

	<h2>Record Identifiers</h2>
	<p>Every record within names is given a unique identifier, which also acts as a resolvable URL. Each record therefore is treated as a resource.</p>
	<p>Identifiers take the following form:</p>
	<p><em>http://{identifier provider url}/{individual OR institution}/{internal id}</em></p>
	<p>For example within the names service environment identifiers take the following form:</p>
	<ul>
		<li>http://names.mimas.ac.uk/individual/1</li>
		<li>http://names.mimas.ac.uk/institution/1</li>
	</ul>
	<h2>Search</h2>
	<p>Records can be searched over using the names search API. Search queries are POSTed to the web application as follows:</p>
	<p>http://names.mimas.ac.uk/search</p>
	<p>The query accepts the following parameters:</p>
	<h3>Name</h3>
		<h4>Description:</h4>
		<p>Provides search over names associated with individuals or institutions.</p>
		<h4>Accepts:</h4>
		<ul>
			<li>A series of name strings, space delimited</li>
			<li>A series of names strings OR delimited</li>
			<li>Exact phrase enclosed in quotes</li>
			<li>Wildcard operator</li>
		</ul>
		<h4>Examples:</h4>
		http://names.mimas.ac.uk/search?name=cox<br/>
		http://names.mimas.ac.uk/search?name=cox b<br/>
		http://names.mimas.ac.uk/search?name=cox or hawking<br/>
		http://names.mimas.ac.uk/search?name="cox or hawking"<br/>
		http://names.mimas.ac.uk/search?name=hawk*<br/>
		http://names.mimas.ac.uk/search?name=*hawk<br/>
		http://names.mimas.ac.uk/search?name=*hawk*<br/>
	<h3>Affiliation</h3>
		<h4>Description:</h4>
		<p>Provides search over names of institutions entities are associated with.</p>
		<h4>Accepts:</h4>
		<ul>
			<li>A series of name strings, space delimited</li>
			<li>A series of names strings OR delimited</li>
			<li>Exact phrase enclosed in quotes</li>
		</ul>
		<h4>Examples:</h4>
			http://names.mimas.ac.uk/search?affiliation=manchester<br/>
			http://names.mimas.ac.uk/search?affiliation=manchester or york<br/>
			http://names.mimas.ac.uk/search?affiliation="University of Manchester"<br/>
	<h3>Fieldofactivity</h3>
		<h4>Description:</h4>
		<p>Provides search over fields of activities associated with entities</p>
		<h4>Accepts:</h4>
		<ul>
			<li>A series of field of activity strings, space delimited</li>
			<li>A series of field of activity strings OR delimited</li>
			<li>Exact phrase enclosed in quotes</li>
		</ul>
		<h4>Examples:</h4>
		http://names.mimas.ac.uk/search?fieldofactivity=physics<br/>
		http://names.mimas.ac.uk/search?fieldofactivity=physics or maths<br/>
		http://names.mimas.ac.uk/search?fieldofactivity="Electrical and Electronic Engineering"<br/>
	<h3>Identifier</h3>
		<h4>Description:</h4>
		<p>Provides search over external identifiers assigned to entities</p>
		<h4>Accepts:</h4>
		<ul>
			<li>A series of field of activity strings, space delimited</li>
			<li>A series of field of activity strings OR delimited</li>
			<li>Exact phrase enclosed in quotes</li>
		</ul>
		<h4>Examples:</h4>
		http://names.mimas.ac.uk/search?identifier="ISNI 0000 0001 2409 6156"<br/>
		http://names.mimas.ac.uk/search?identifier=http://eprints.uwe.ac.uk/id/person/ext-jennifer.hill@@uwe.ac.uk<br/>
	<h3>Mixing parameters</h3>
	<p>The parameters above can be used in conjunction:</p>
	http://names.mimas.ac.uk/search?name=hill j&fieldofactivity="Geography and Environmental Studies"<br/>
	http://names.mimas.ac.uk/search?name=cox b&affiliation="University of Manchester"<br/>
	http://names.mimas.ac.uk/search?fieldofactivity=physics<br/>
	http://names.mimas.ac.uk/search?affiliation="University of Manchester"<br/>
	<h3>Start</h3>
	<p>In addition, to enable paging through results, the start parameter can be used:</p>
	http://names.mimas.ac.uk/search?name=smith&start=50<br/>
<h2>Output format</h2>
<p>There are three output formats available for both search results and individual records:</p>
<ul>
	<li>HTML</li>
	<li>Json</li>
	<li>RDF+XML</li>
</ul>
<p>The client application can specify which of these formats they wish to recieve for a request by specifying it in the Accepts of the header in their HTTP request.</p>

    
}
