@main("Names prototype") {
   <div class="hero-unit">
	 <p>The Names Project ran between 2007 and 2013, with the remit of investigating
	ways of uniquely identifying UK researchers. During that time, the project team developed a software prototype including algorithms for disambiguating individuals and institutions within source data sets containing researchers' names and works.</p>
	<p>This was used on a variety of national and institutional data sets, in combination with a manual quality assurance process, to create unique identifiers for 50,000 individuals and
	institutions, and associated name authority records. These are available on this site and the identifiers have also been submitted
	to the <a href="http://www.isni.org">International Standard for Name Identifiers (ISNI) service.</a></p>
	    <a href="/about" class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p>
	</div>

    
}
