@main("Privacy and cookies") {
	<h3>Cookies</h3>
	<h4>What are cookies and what are they used for?</h4>
	<p>Cookies are small text files that are stored by your web browser.  They are primarily used to remember if users have visited the website before, and to improve the way that sites work.</p>
	<p>For example, cookies can be used to:</p>
	<ul>
		<li>remember information such as passwords so that you don’t need to keep re-entering it </li>
		<li>personalise content by recording search and display choices such as layouts </li>
		<li>provide social network facilities</li>
		<li>record usage information to help us understand users and ensure we are providing the right support.</li>

	</ul>
	<p>There are different types of cookies, for example:</p>
	<p><b>First party and third party cookies</b></p>
	<p>
		First party cookies are set by the website you’re visiting.  They send data only to the servers for that domain, and the data cannot be altered or retrieved by any other website.  If a user visits a website and a separate company sets a cookie through that website, this is a third party cookie.  Examples of third party cookies are those set by social networks. 
	</p>
	<p><b>Session and persistent cookies</b></p>
	<p>
		Cookies can expire at the end of a browser session or they can be stored for longer.  Session cookies are not stored long-term; they are set when you visit a website, and expire as soon as the browser is closed. 
	</p>
	<p>
		Persistent cookies are stored on your device in between browser sessions and allow preferences to be remembered.  Persistent cookies are used for a variety of reasons including recording your preferred search results display.
		To find out more about cookies, visit <a href="http://www.aboutcookies.org/">AboutCookies.org</a> or <a href="http://www.allaboutcookies.org/">All About Cookies</a>. 
	</p>
	<h4>How we use cookies</h4>
	<p>
		We use the following cookies on our site:
	</p>
	<p><b>Cookies for Measuring Website Usage (Google Analytics)</b></p>
	<p>
		We use Google Analytics to analyse how our visitors use this website, in order to improve your experience on the site. 
	</p>
	<p>
		Google Analytics uses only first-party cookies, which are available only to names.mimas.ac.uk and don’t reveal any personally identifiable information.
	</p>
	<table border = 1>
		<tr>
			<td><b>Provider</b></td><td><b>Name (as of 26 May 2012)</b></td><td><b>Typical Content </b></td><td><b>Expires</b></td>
		</tr>
		<tr>
			<td>Google</td><td>_utma</td><td>Randomly generated number </td><td>2 Years</td>
		</tr>
		<tr>
			<td>Google</td><td>_utmb</td><td>Randomly generated number </td><td>30 Minutes</td>
		</tr>
		<tr>
			<td>Google</td><td>_utmc</td><td>Randomly generated number </td><td>When you close the browser</td>
		</tr>
		<tr>
			<td>Google</td><td>_utmx</td><td>Randomly generated number </td><td>2 Years</td>
		</tr>
		<tr>
			<td>Google</td><td>_utmxx</td><td>Randomly generated number </td><td>2 Years</td>
		</tr>
		<tr>
			<td>Google</td><td>_utmz</td><td>and information on how the site was reached (e.g. direct or via a link, organic search or paid search) </td><td>6 Months</td>
		</tr>

	</table>
	<p>
		More information about Google Analytics cookies is available here: <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies">https://developers.google.com/analytics/resources/concepts/gaConceptsCookies</a>
	</p>
	<h4>Managing and deleting cookies</h4>
	<p>We use cookies to improve the way our website works, and we don’t gather any personally identifiable information.   Blocking or deleting the cookies will impact on the way that the site works and you could lose some functionality, however you can control and manage cookies if you wish.  You can visit AboutCookies.org for more information about how to control cookies on the major web browsers.</p>
    
}
