@(response: uk.ac.mimas.names.databasemanager.Response, query: uk.ac.mimas.names.databasemanager.Query)
@identifier_url(record: uk.ac.mimas.names.databasemanager.types.NamesRecord) = {@if(record.getType() == 1){individual}else{institution}/@record.getNamesID()}
@main("Results") {
 
	 <h1>Results <small>@response.getResults.getCount()</small></h1>
	 <div class="row-fluid" id="results">
		<div class="span12 offset0">
			@for(record <- response.getResults().getRecords()) {
  				<div class="result">
  					<h2>
  						<a href="@if(record.getType() == 1){individual}else{institution}/@record.getNamesID()">@record.getNameOrder()</a>
  					</h2>
  					@************
					 * Known by *
					 ************@
	  				<div class="result-attributes">
		       		 	 @if(record.getNormalisedNames.size() > 1){
		       		  	 	<h3>Also known by</h3>
		       		  	 }
		       			 @for(normalisedName <- record.getNormalisedNames()) {
		       			 	@if(normalisedName.getName() != record.getNameOrder()){
		       			 		@normalisedName.getName()<br/>
		       			 	}
		       			 }
		       			 @if(record.getNormalisedNames().size() > 6){
		       			 	<a class="result-more"  href="@identifier_url(record)">more...</a>
		       			 }
		       		  </div>
		       		  @***************
					  *  identifiers *
					  ****************@
		       		  <div class="result-attributes">
		       		 	 @if(record.getNormalisedIdentifiers.size() > 0){
		       		  	 	<h3>Identifiers</h3>
		       		  	 }
		       			 @for(normalisedIdentifier <- record.getNormalisedIdentifiers()) {
		       			 	@normalisedIdentifier.getIdentifier() <span class="muted">(@normalisedIdentifier.getBasisFor())</span><br />
		       			 }
		       			 @if(record.getNormalisedIdentifiers().size() > 5){
		       			 	<a class="result-more"  href="@identifier_url(record)">more...</a>
		       			 }
		       		  </div>
		       		  @****************
					  *  Affiliations *
					  *****************@
		       		  <div class="result-attributes">
		       		 	 @if(record.getNormalisedAffiliations.size() > 0){
		       		  	 	<h3>Associated with</h3>
		       		  	 }
		       			 @for(normalisedAffiliation <- record.getNormalisedAffiliations()) {
		       			 	@normalisedAffiliation.getAffiliationName()<br />
		       			 }
		       			 @if(record.getNormalisedAffiliations().size() > 5){
		       			 	<a class="result-more"  href="@identifier_url(record)">more...</a>
		       			 }
		       		  </div>
		       		  @**********************
					  *  Fields of Activity *
					  ***********************@
		       		  <div class="result-attributes">
		       		 	 @if(record.getNormalisedFieldsOfActivity.size() > 0){
		       		  	 	<h3>Interested in</h3>
		       		  	 }
		       			 @for(normalisedFieldOfActivity <- record.getNormalisedFieldsOfActivity()) {
		       			 	@normalisedFieldOfActivity.getFieldOfActivity()<br />
		       			 }
		       			 @if(record.getNormalisedFieldsOfActivity().size() > 5){
		       			 	<a class="result-more"  href="@identifier_url(record)">more...</a>
		       			 }
		       		  </div>
		       		  @***********************
					  *  Result Publications *
					  ************************@
		       		  <div class="result-attributes">
		       		 	 @if(record.getNormalisedResultPublications().size() > 0){
		       		  	 	<h3>Works</h3>
		       		  	 }
		       			 @for(normalisedResultPublications <- record.getNormalisedResultPublications()) {
		       			 	@normalisedResultPublications.getTitle()<br />
		       			 }
		       			 @if(record.getNormalisedResultPublications().size() > 5){
		       			 	<a class="result-more"  href="@identifier_url(record)">more...</a>
		       			 }
		       		  </div>
		       		  @*******************************
					  *  Collaborative relationships *
					  ********************************@
		       		  <div class="result-attributes">
		       		 	 @if(record.getNormalisedCollaborations().size() > 0){
		       		  	 	<h3>Worked with</h3>
		       		  	 }
		       			 @for(normalisedCollaboration <- record.getNormalisedCollaborations()) {
		       			 	@normalisedCollaboration.getCollaborationName()<br />
		       			 }
		       			 @if(record.getNormalisedCollaborations().size() > 5){
		       			 	<a class="result-more"  href="@identifier_url(record)">more...</a>
		       			 }
		       		  </div>

		       		  <div class ="result-footer">
			       		   <span class = "pull-left">
			       		   		<a href="@identifier_url(record)">http://names.mimas.ac.uk/@identifier_url(record)</a>
			       		   </span>
		       		   		<span class = "pull-right">
		       		   			<strong>Date Created:</strong> @record.getDateCreated() <strong>Date Modified:</strong> @record.getDateModified()
		       		   		</span>
						</div>
		        </div>
		        <hr/>
			} 
		</div>			  	
	</div>	
	<div id="pagination"></div>			  		
				  				
				  					
							       		 
	<script>

      jQuery(function ($) {
      	  
	    	  var options = {
	    			  
	    			 	alignment: "center",
			            currentPage: @{query.getStart()/10+1},
			            totalPages: @{response.getResults.getCount() / 10 +1},
			            pageUrl: function(type, page, current){
			            	var queryURL = "search?";
			            	queryURL += 'name=@query.getNames()&';
			            	queryURL += 'affiliation=@query.getAffiliations()&';
			            	queryURL += 'fieldofactivity=@query.getFieldsOfActivity()&';
			            	queryURL += 'identifier=@query.getIdentifiers()&';
							queryURL += "start=" + ((page -1) * 10);
			                return queryURL;

			            }
			        }
			
			        $('#pagination').bootstrapPaginator(options);
		  
     });


 	</script>		
    
	       		
							       	
						

    
}