@main("Advanced Search"){
	<form method="get" action="/search">
		<fieldset>
			<legend>Advanced Search</legend>
			    <div class="well">
				  	<label>Name</label>
			    	<input type="text" name="name" id="name" placeholder="">
			    	<span class="help-block">
			    		<table class="table table-bordered">
								
								 <tr><td>John Smith</td><td>Finds names containing both "John" and "Smith" </td></tr>
								 <tr><td>John OR Smith</td><td>Finds names containing either "John" or "Smith" </td></tr>
								 <tr><td>"Smith, J"</td><td>Finds names containing the exact phrase "Smith, J"</td></tr>
								 <tr><td>Smith*</td><td>Finds names beginning with "Smith" and followed by any characters</td></tr>
								 <tr><td>*Smith</td><td>Finds names ending with "Smith" and preceded by any characters</td></tr>
						</table>
				    	 		
			    	</span>
				</div>
			    <div class="well">
			 	<label>Associated with</label>
			    <input type="text" name="affiliation" id="affiliation" placeholder="">
			    <label>Identifier</label>
			    <input type="text" name="identifier" id="identifier" placeholder="">
			    <label>Interest in</label>
			    <input type="text" name="fieldofactivity" id="fieldofactivity" placeholder="">
			    </div>
			    <button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
}