@(record: uk.ac.mimas.names.databasemanager.types.NamesRecord)
@identifier_url(record: uk.ac.mimas.names.databasemanager.types.NamesRecord) = {@if(record.getType() == 1){individual}else{institution}/@record.getNamesID()}
@main("Individual") {
 
			<div class="page-header">
 		  		 <h1>@record.getNameOrder()<br/><small>http://names.mimas.ac.uk/@identifier_url(record)</small></h1>
   		 	</div>
   		 	
	      	<div class="span12 offset0">
		      	<div class="row">
					<div class="span4">
				      	<div class="result-attributes">
					      	 @if(record.getNormalisedNames().size() > 1){
			       		  	 <h3>Also known by</h3>
				       			@for(normalisedName <- record.getNormalisedNames()) {
					       		 	@if(normalisedName.getName() != record.getNameOrder()){
					       		 		<a href="#" class="link" data-placement="right" data-original-title="Source: @normalisedName.getSourceName()<br/>Source Identifier: @normalisedName.getSourceID()<br/>Match Score: @normalisedName.getMatchScore()">@normalisedName.getName()</a><br />
					       		 	}
					       		}
					       	}
		       		  	</div>
		       		  	
		       		  	<div class="result-attributes">
					      	 @if(record.getNormalisedIdentifiers().size() > 0){

			       		  	 <h3>Identifiers</h3>
				       			@for(normalisedIdentifier <- record.getNormalisedIdentifiers()) {
				       		
				       				<a href='
				       				@normalisedIdentifier.getIdentifier() match {
    									case u if normalisedIdentifier.getIdentifier().startsWith("http") => {@normalisedIdentifier.getIdentifier()}
    									case u if normalisedIdentifier.getIdentifier().startsWith("ISNI") => {http://isni.oclc.nl/sru/DB=1.2/?query=pica.isn+%3D+%22@normalisedIdentifier.getIdentifier().substring(5)%22&version=1.1&operation=searchRetrieve&stylesheet=http%3A%2F%2Fisni.oclc.nl%2Fsru%2FDB%3D1.2%2F%3Fxsl%3DsearchRetrieveResponse&recordSchema=isni-b&maximumRecords=10&startRecord=1&recordPacking=xml&sortKeys=none&x-info-5-mg-requestGroupings=none}
    									case _ => {#}
    								}
				       				' class="link" data-placement="right" data-original-title="Source: @normalisedIdentifier.getSourceName()<br/>Source Identifier: @normalisedIdentifier.getSourceID()<br/>Match Score: @normalisedIdentifier.getMatchScore()">
				       					@normalisedIdentifier.getIdentifier()</a> <span class="muted">(@normalisedIdentifier.getBasisFor)</span><br />
				       				</a>
					       		}
					       	}
		       		  	</div>
		       		  	<div class="result-attributes">
					      	 @if(record.getNormalisedAffiliations().size() > 0){
			       		  	 <h3>Associated with</h3>
				       			@for(normalisedAffiliation<- record.getNormalisedAffiliations()) {
					       		 	<a href="/institution/@normalisedAffiliation.getAffiliationNamesID()" class="link" data-placement="right" data-original-title="Source: @normalisedAffiliation.getSourceName()<br/>Source Identifier: @normalisedAffiliation.getSourceID()<br/>Match Score: @normalisedAffiliation.getMatchScore()">@normalisedAffiliation.getAffiliationName()</a><br />
					       		}
					       	}
		       		  	</div>
		       		  	<div class="result-attributes">
					      	 @if(record.getNormalisedFieldsOfActivity().size() > 0){
			       		  	 <h3>Interested in</h3>
				       			@for(normalisedFieldOfActivity<- record.getNormalisedFieldsOfActivity()) {
					       		 	<a href="/search?fieldofactivity=@normalisedFieldOfActivity.getFieldOfActivity()" class="link" data-placement="right" data-original-title="Source: @normalisedFieldOfActivity.getSourceName()<br/>Source Identifier: @normalisedFieldOfActivity.getSourceID()<br/>Match Score: @normalisedFieldOfActivity.getMatchScore()">@normalisedFieldOfActivity.getFieldOfActivity()</a><br />
					       		}
					       	}
		       		  	</div>
		       		  	<div class="result-attributes">
					      	 @if(record.getNormalisedCollaborations().size() > 0){
			       		  	 <h3>Worked with</h3>
				       			@for(normalisedCollaboration <- record.getNormalisedCollaborations()) {
					       		 	<a href="/individual/@normalisedCollaboration.getCollaborationNamesID()" class="link" data-placement="right" data-original-title="Source: @normalisedCollaboration.getSourceName()<br/>Source Identifier: @normalisedCollaboration.getSourceID()<br/>Match Score: @normalisedCollaboration.getMatchScore()">@normalisedCollaboration.getCollaborationName()</a>
					       		 	<br />
					       		}
					       	}
		       		  	</div>
		       		</div>
		       		<div class="span8">
		       			<div class="result-attributes">
					      	 @if(record.getNormalisedResultPublications().size() > 0){
			       		  	 <h3>Works</h3>
				       			@for(normalisedResultPublication <- record.getNormalisedResultPublications()) {
					       		 	<a href="#" class="link" data-placement="right" data-original-title="Source: @normalisedResultPublication.getSourceName()<br/>Source Identifier: @normalisedResultPublication.getSourceID()<br/>Match Score: @normalisedResultPublication.getMatchScore()">@normalisedResultPublication.getTitle()</a><br />
					       		}
					       	}
		       		  	</div>
		       		</div>
		       		
		       	</div>
		       	<div class ="result-footer">
       		   		<span class = "pull-right">
       		   			<strong>Date Created:</strong> @record.getDateCreated() <strong>Date Modified:</strong> @record.getDateModified()
       		   		</span>
				</div>
				


       		    
   		   </div>
			
   		
    
}
